/**
  Fonts
 */

/**
 Colors
 */

html,
body {
  font: 15px/1.4 Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #f7f7f7;
  zoom: 0;
}

/** GLOBALS **/

.container {
  width: 80%;
  margin: 0 auto;
}

.flex,
#navbar > .container,
.forum-section .forum-section-content .row,
#post-section .post-section-content .row,
.modal-body .form-group,
.sidebar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forum-sections-link {
  color: #5A5A5A;
  text-decoration: none;
}

.forum-sections-link:hover {
  color: #60a2db;
}

.comma:last-child {
  display: none;
}

.open {
  display: block;
}

.close {
  display: none;
}

/** colors **/

.member {
  color: #000000;
}

.vip {
  color: #164bff;
}

.moderator {
  color: #248f22;
}

.admin {
  color: #ffa500;
}

.orange {
  color: #ff7000;
}

.red {
  color: #bc0000;
}

.blue {
  color: #0d71bb;
}

.forum-control,
#pagination ul li a {
  padding: 10px;
  background-color: #0d71bb;
  color: #FFFFFF;
  font-size: 12px;
  text-decoration: none;
  margin-left: 5px;
  border-radius: 3px;
}

.forum-control:hover,
#pagination ul li a:hover {
  background-color: #0f84da;
}

/** END GLOBALS **/

/** HEADER **/

header {
  width: 100%;
  min-height: 70px;
  background-color: #5e5e5e;
  -webkit-box-shadow: 0 0.125rem 0.1rem rgba(0, 0, 0, 0.46);
          box-shadow: 0 0.125rem 0.1rem rgba(0, 0, 0, 0.46);
}

header .container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .container h1 > a {
  text-decoration: none;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-navigation {
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  background-color: #f0f0f0;
  padding: 10px 30px 10px 30px;
  -webkit-box-shadow: 0 0.18rem 0.3rem rgba(0, 0, 0, 0.85);
          box-shadow: 0 0.18rem 0.3rem rgba(0, 0, 0, 0.85);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top-navigation li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
}

#top-navigation li > .top-nav-link {
  color: #000000;
  padding: 12px 10px 12px 10px;
  text-decoration: none;
  font-weight: bold;
}

#top-navigation li > .top-nav-link:hover {
  color: #FFFFFF;
  background-color: #272727;
  text-decoration: none;
}

#top-navigation li:first-child {
  padding-left: 0;
}

nav #mobile-nav {
  display: none;
  color: #000000;
  background-color: #f0f0f0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 42px;
}

nav #mobile-nav:hover {
  color: #FFFFFF;
  background-color: #000000;
}

/** END HEADER **/

/** BREADCRUMBS **/

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  background: #fafafa;
  min-height: 50px;
  border-bottom: 1px solid #ebebeb;
  /* mobile version */
  /*the container must be positioned relative:*/
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
  /*style the items (options), including the selected item:*/
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
  /* end mobile version */
}

#navbar > .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 50px;
  line-height: 50px;
}

#navbar ul.breadcrumbs > li {
  display: inline;
}

#navbar ul.breadcrumbs > li > a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
  color: #5a5a5a;
}

#navbar ul.breadcrumbs > li > a:hover {
  text-decoration: none;
  color: #60a2db;
}

#navbar ul.breadcrumbs > li:first-child > a {
  margin-left: 0;
}

#navbar ul.breadcrumbs > li:last-child > a {
  color: grey;
  text-decoration: none;
}

#navbar ul.breadcrumbs > li:last-child > i {
  display: none;
}

#navbar ul.submenu > li {
  display: inline;
  font-weight: bold;
}

#navbar ul.submenu > li > a {
  margin-right: 10px;
  text-decoration: none;
  color: #0d71bb;
}

#navbar ul.submenu > li > a:hover {
  color: #5e5e5e;
}

#navbar ul.submenu > li:last-child > a {
  margin-right: 2px;
}

#navbar .mobile-breadcrumbs {
  display: none;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

#navbar .mobile-breadcrumbs select {
  display: none;
  /*hide original SELECT element:*/
  height: 100%;
}

#navbar .select-selected {
  background-color: #fafafa;
}

#navbar .select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #535353;
}

#navbar .select-selected.select-arrow-active:after {
  border-color: transparent;
  border-bottom-color: #535353;
  top: 14px;
}

#navbar .select-items div,
#navbar .select-selected {
  color: #535353;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 32px;
  line-height: 32px;
  border-top: 1px solid #bbbbbb;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

#navbar .select-items div:last-child,
#navbar .select-selected:last-child {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #bbbbbb;
}

#navbar .select-items div:first-child,
#navbar .select-selected:first-child {
  border-top: 0 !important;
}

#navbar .select-items {
  position: absolute;
  background-color: #fafafa;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

#navbar .select-hide {
  display: none;
}

#navbar .select-items div:hover,
#navbar .same-as-selected {
  background-color: #dddddd;
}

/** END BREADCRUMBS **/

/** FORUM SECTION **/

.forum-section {
  margin-top: 20px;
}

.forum-section .forum-section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 45px;
  font-weight: bold;
  background-color: #5e5e5e;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forum-section .forum-section-header > .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.forum-section .forum-section-header > a,
.forum-section .forum-section-header > span {
  margin-left: 25px;
  line-height: 45px;
  color: #FFFFFF;
  text-decoration: none;
}

.forum-section .forum-section-header > a:hover {
  color: #EBEBEB;
}

.forum-section .forum-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.forum-section .forum-section-content .row {
  border-bottom: 1px solid #ebebeb;
  min-height: 60px;
  color: #000000;
  /** content last poster **/
  /** content title **/
}

.forum-section .forum-section-content .row > .icon,
.forum-section .forum-section-content .row > .stats,
.forum-section .forum-section-content .row > .last-poster,
.forum-section .forum-section-content .row > .title {
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.forum-section .forum-section-content .row > .stats {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  text-align: center;
  font-size: 13px;
  -ms-flex-item-align: center;
      align-self: center;
  color: #8a8a8a;
}

.forum-section .forum-section-content .row > .icon {
  -ms-flex-preferred-size: content;
      flex-basis: content;
  padding: 20px;
}

.forum-section .forum-section-content .row > .last-poster {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  -ms-flex-item-align: center;
      align-self: center;
}

.forum-section .forum-section-content .row > .last-poster div {
  font-size: 13px;
}

.forum-section .forum-section-content .row > .last-poster div > span {
  font-weight: bold;
}

.forum-section .forum-section-content .row > .title {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  -ms-flex-item-align: center;
      align-self: center;
}

.forum-section .forum-section-content .row > .title .subforum-name {
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}

.forum-section .forum-section-content .row > .title .description {
  font-size: 12px;
  color: #8b8b8b;
}

.forum-section .forum-section-content .row > .title .description > .topic-info:last-child,
.forum-section .forum-section-content .row > .title .last-poster-mobile > .topic-info:last-child {
  margin-left: 10px;
}

.forum-section .forum-section-content .row:last-child {
  border-bottom: 0;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  height: 45px;
  margin-right: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls > .section-toggle-btn {
  margin-right: 20px;
  cursor: pointer;
  color: #FFFFFF;
}

/** mobile **/

.last-poster-mobile {
  display: none;
  font-size: 12px;
}

.stats-mobile {
  display: none;
  font-size: 11px;
  color: #8a8a8a;
}

/** END FORUM SECTION **/

/** TOPIC POSTS **/

#topic-header {
  min-height: 60px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #E6E6E6;
}

#topic-header h2 a {
  color: #8a8a8a;
  text-decoration: none;
}

.post-section {
  margin-top: 20px;
  color: #000000;
}

.post-section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.post-section .row:not(:first-child) {
  margin-top: 20px;
}

.post-section .row > .member-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  min-height: 100%;
  border-right: 1px solid #E6E6E6;
}

.post-section .row > .member-card > .image {
  display: block;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  max-height: 250px;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
}

.post-section .row > .member-card > .image > img {
  width: 100%;
  height: auto;
}

.post-section .row > .member-card > .content {
  display: block;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding: 5px 10px;
}

.post-section .row > .member-card > .content > .member-name {
  font-size: 20px;
  font-weight: 700;
}

.post-section .row > .member-card > .content > .member-group {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.post-section .row > .member-card > .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex: 1 0 8px;*/
  -ms-flex-preferred-size: 25px;
      flex-basis: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-size: 12px;
  border-top: 1px solid #E6E6E6;
}

.post-section .row > .member-card > .footer > .joined,
.post-section .row > .member-card > .footer > .comments {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post-section .row > .member-card > .footer > .joined {
  text-align: right;
}

.post-section .row > .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 10px 0;
  word-break: break-word;
  overflow-x: auto;
}

.post-section .row > .post > .comment {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  padding: 8px 0 20px;
}

.post-section .row > .post > .comment .content {
  line-height: 1.2;
}

.post-section .row > .post > .comment .content img {
  max-width: 100%;
}

.post-section .row > .post > .comment .content a {
  color: #0d71bb;
}

.post-section .row > .post > .comment .content a:hover {
  text-decoration: none;
  color: #8a8a8a;
}

.post-section .row > .post > .comment .content pre {
  font-size: 13px;
  overflow: auto;
  max-height: 400px;
  border: 1px solid darkgrey;
}

.post-section .row > .post > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*flex: 1;*/
  -ms-flex-preferred-size: 45px;
      flex-basis: 45px;
  border-bottom: 1px solid #E6E6E6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-section .row > .post > .header .mobile-controls {
  display: none;
  margin-right: 10px;
  /** CONTEXT MENU **/
  /** END CONTEXT MENU **/
}

.post-section .row > .post > .header .mobile-controls a.post-context-menu {
  color: #0d71bb;
}

.post-section .row > .post > .header .mobile-controls a.post-context-menu:hover,
.post-section .row > .post > .header .mobile-controls a.post-context-menu:focus {
  color: #60a2db;
}

.post-section .row > .post > .header .mobile-controls .dropdown-content {
  display: none;
  position: absolute;
  right: 40px;
  background-color: #f1f1f1;
  border-radius: 2px;
  border: 1px solid #bbbbbb;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.post-section .row > .post > .header .mobile-controls .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #bbbbbb;
}

.post-section .row > .post > .header .mobile-controls .dropdown-content a:last-child {
  border-bottom: 0;
}

.post-section .row > .post > .header .mobile-controls .dropdown-content a:hover,
.post-section .row > .post > .header .mobile-controls .dropdown-content a:focus {
  background-color: #ddd;
}

.post-section .row > .post > .header .mobile-controls .dropdown-content a .text {
  color: #000000;
  margin-left: 10px;
}

.post-section .row > .post > .header .mobile-controls .show {
  display: block;
}

.post-section .row > .post > .header .comment-posted {
  font-size: 14px;
  color: #5e5e5e;
}

.post-section .row > .post > .header .comment-posted-mobile {
  display: none;
  font-size: 15px;
}

.post-section .row > .post > .header .comment-posted-mobile > div:last-child {
  font-size: 12px;
  color: #5e5e5e;
}

.post-section .row > .post > .signature {
  border-top: 1px dashed #E6E6E6;
  /*flex-grow: 1;*/
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  padding: 5px;
}

/*.post-section .row > .post > .header > .controls {*/

/*justify-content: flex-start !important;*/

/*}*/

/*.post-section .row > .post > .header > .comment-posted {*/

/*text-align: right;*/

/*}*/

.hljs {
  overflow: visible !important;
}

.btn-text {
  margin-right: 3px;
}

/** END TOPIC POSTS **/

#post-section {
  margin: 10px auto;
}

#post-section .post-section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 45px;
  font-weight: bold;
  background-color: #5e5e5e;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#post-section .post-section-header > .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#post-section .post-section-header > a,
#post-section .post-section-header > span {
  margin-left: 25px;
  line-height: 45px;
  color: #FFFFFF;
  text-decoration: none;
}

#post-section .post-section-header > a:hover {
  color: #EBEBEB;
}

#post-section .post-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#post-section .post-section-content .row {
  border-bottom: 1px solid #ebebeb;
  min-height: 60px;
  color: #000000;
}

#post-section .post-section-content .row form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 5px;
}

#post-section .post-section-content .row form input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #5e5e5e;
  border-radius: 2px;
  margin: 2px;
}

#post-section .post-section-content .row form button {
  width: 150px;
  height: 50px;
  margin: 10px auto;
  font-size: 17px;
  font-weight: bold;
  background-color: #0d71bb;
  color: #FFFFFF;
  border: 1px solid #0D59A4;
  cursor: pointer;
  border-radius: 2px;
}

#post-section .post-section-content .row form button:hover {
  background-color: rgba(13, 113, 187, 0.9);
}

#post-section .post-section-content .row form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/** QUOTES **/

.quote {
  padding: 10px 5px 10px 20px;
  border-left: 5px solid lightslategrey;
  border-radius: 3px;
  background-color: rgba(215, 215, 215, 0.1);
}

.quote .quote-info {
  margin-bottom: 5px;
  font-weight: bold;
  font-style: normal !important;
  font-size: 13px;
}

.quote .quote-body {
  font-style: italic;
}

/** END QUOTES **/

/** CODE BLOCK **/

.code {
  border: 1px solid blue;
  padding: 8px;
  margin: 10px 0;
}

/** END CODE BLOCK **/

/** MODAL **/

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 95%;
  max-width: 650px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: top-down;
  -webkit-animation-duration: 0.4s;
  animation-name: top-down;
  animation-duration: 0.4s;
  color: #000000;
}

/* Add Animation */

@-webkit-keyframes top-down {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes top-down {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */

.btn-close {
  color: #FFFFFF;
  float: right;
  margin-right: 10px;
  vertical-align: middle;
}

.btn-close:hover,
.btn-close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 8px;
  background-color: #5e5e5e;
  color: #FFFFFF;
  line-height: 28px;
}

.modal-header .modal-header-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.modal-body {
  padding: 20px;
}

.modal-body form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-body .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 15px;
}

.modal-body .form-group label,
.modal-body .form-group input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  width: 100%;
}

.modal-body .form-group label {
  -ms-flex-item-align: center;
      align-self: center;
}

.modal-body .form-group .form-input {
  border: 1px solid #e5e5e5;
  padding: 15px;
  border-radius: 3px;
  font-size: 15px;
}

.modal-body .form-btn {
  width: 145px;
  height: 40px;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  border: 1px solid #0E61B1;
  background-color: #0e7aca;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
}

.modal-body .form-btn:hover {
  background-color: #0f84da;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: #FFFFFF;
}

.rememberme-group {
  margin-top: 15px;
}

.form-checkbox {
  width: 20px;
  height: 20px;
}

/** END MODAL**/

/** SIDEBAR **/

#sidebar {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebar-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #f7f7f7;
  float: right;
  right: -80%;
  opacity: 0;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 80%;
  height: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #000000;
}

.sidebar-content #sidebar-title {
  font-weight: bold;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #5e5e5e;
}

.sidebar-content ul {
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  margin: 0;
}

.sidebar-content ul li {
  height: 50px;
  border-bottom: 1px solid #5e5e5e;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}

.sidebar-content ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-content ul li a:hover {
  background-color: #000000;
  color: #FFFFFF;
}

#bottom-close-btn {
  width: 60px;
  height: 60px;
  line-height: 70px;
  color: #000000;
  text-align: center;
}

@-webkit-keyframes right-left {
  0% {
    right: -80%;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes right-left {
  0% {
    right: -80%;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

/** END SIDEBAR **/

#pagination {
  margin-bottom: -20px;
}

#pagination .container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#pagination ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#pagination ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pagination ul div li:first-child {
  margin-left: 5px;
}

#pagination ul li {
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#pagination ul li:first-child a {
  margin-left: 0;
}

#pagination ul li a {
  padding: 10px 12px;
}

#pagination ul li a.current {
  background-color: #93c6ef;
  color: #000000;
  border: 1px solid #0d71bb;
}

/** FOOTER **/

footer {
  background-color: #EBEBEB;
  min-height: 150px;
  width: 100%;
  margin-top: 25px;
  padding-bottom: 25px;
}

footer > .flex,
footer#navbar > .container,
.forum-section .forum-section-content footer > .row,
#post-section .post-section-content footer > .row,
.modal-body footer > .form-group,
footer > .sidebar-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #5A5A5A;
}

footer .box div {
  font-size: 13px;
}

/** END FOOTER **/

/** MEDIA QUERIES **/

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 999px) {
  .forum-section-content .row > .last-poster {
    display: none;
  }

  .last-poster-mobile {
    display: inline;
  }

  .last-poster-mobile a {
    text-decoration: underline;
  }

  .post-section .row > .member-card {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }

  .post-section .row > .member-card > .image {
    max-height: 200px;
  }
}

@media (max-width: 800px) {
  footer > .flex,
  footer#navbar > .container,
  .forum-section .forum-section-content footer > .row,
  #post-section .post-section-content footer > .row,
  .modal-body footer > .form-group,
  footer > .sidebar-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer .box:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  footer .box:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .post-section .row {
    min-height: 150px;
  }

  .post-section .row > .post > .comment {
    -ms-flex-preferred-size: 70px;
        flex-basis: 70px;
  }

  .post-section .row > .member-card {
    display: none;
  }

  .post-section .row > .post > .header .comment-posted {
    display: none;
  }

  .post-section .row > .post > .header .comment-posted-mobile {
    display: block;
  }

  .btn-text {
    display: none;
    margin: 0;
  }

  .modal {
    padding-top: 10px;
  }

  .forum-control,
  #pagination ul li a {
    padding: 10px 15px;
  }
}

@media (max-width: 699px) {
  header {
    max-height: 65px;
  }

  header h2,
  header nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  header nav #top-navigation {
    display: none;
  }

  header nav #mobile-nav {
    display: inline-block;
  }

  .post-section .row > .post > .header .controls {
    display: none;
  }

  .post-section .row > .post > .header .mobile-controls {
    display: block;
  }

  .signature {
    display: none;
  }

  .submenu {
    display: none;
  }
}

@media (max-width: 600px) {
  .forum-section-content .row > .stats {
    display: none;
  }

  .forum-section-content .row > .icon {
    padding: 5px;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .stats-mobile {
    display: inline;
  }

  #navbar > .container {
    width: 100%;
  }

  #navbar .breadcrumbs {
    display: none;
  }

  #navbar .mobile-breadcrumbs {
    display: inline-block;
  }
}

@media (max-width: 495px) {
  .form-group label {
    display: none;
  }

  #pagination ul {
    margin: 15px auto;
  }
}

@media (max-width: 407px) {
  .forum-section-content .row > .icon {
    display: none;
  }
}

@media (max-width: 399px) {
  .forum-section-header > a,
  .forum-section-header > span {
    margin-left: 10px !important;
  }

  .post-section-content input {
    font-size: 14px !important;
    padding: 5px !important;
  }

  #pagination ul div {
    display: none;
  }

  #pagination ul li a {
    padding: 13px 20px;
  }
}

/** END MEDIA QUERIES **/

